@{
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Whether it's a 1959 Chevy Mustang Coupe SI Edition, or the $1.2 million Bugatti Veyron V16 Mid-Engine monster with over 2,000 ft. lbs. of torque, to the wheels! We here at CatTopia&trade; have you covered. Either create, or add to the ever-growing collection of car models, or just search for the real rarities that are ever-increasingly so hard to find. Account functionality will be added soon, so you'll be able to connect with other users and see what they have added to the database themselves. Dream car shop away!</p>