@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  1600 Pennsylvania Avenue NW<br />
  Washington, DC 20500<br />
  <abbr title="Phone 1">P1:</abbr>
  202.456.1111<br />
  <abbr title="Phone 2">P2:</abbr>
  202.456.1414
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:newsadmin@whitehouse.gov">newsadmin@whitehouse.gov</a><br />
    <strong>Marketing:</strong> <a href="mailto:president@whitehouse.gov">president@whitehouse.gov</a>
</address>