@{
    ViewBag.Title = "About CarQuotes";
    ViewBag.Message = "If you're looking for the best car quotes around, well you've come to the right place!";
}
<h2>@ViewBag.Title&trade;</h2>
<h3>@ViewBag.Message</h3>
<br />
<p>Here at CarQuotes&trade; we pride ourselves on supplying our clients with the outright best policy that their hard earned money can buy. You can make sure you're getting a fair quote and be rest assured that we competitively and fairly quote people the same, per policy period, as their peers. No gimmicks. Just Quotes!</p>
<br /><br />
<h3>Thanks for choosing CarQuotes&trade; for all your car insurance needs!</h3>