@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CarQuotes&trade;</h1>
    <p class="lead">Industry leading car insurance quotes right at your fingertips, or mouse pointer.</p>
    <p><a role="button" href="@Url.Action("Create", "Insuree")" class="btn btn-primary btn-lg">Create Quote &raquo;</a></p>
</div>